# Bloquear cualquier archivo que contenga claves o certificados privados
*.pem
*.crt
*.p12
*.pfx
*.csr
# Bloquear carpetas de certificados enteras por seguridad
certs/
clients/
# Bloquear archivos de configuración de Vagrant más específicos
.vagrant/
vagrant-ssh-config